[submodule "science"]
	path = science
	url = git@gin.g-node.org:/lucasgautheron/science.git
	datalad-id = 9f72824e-66f5-4217-8673-f75bc761ba1b
	datalad-url = git@gin.g-node.org:/lucasgautheron/science.git
